@tailwind base;
@tailwind components;
@tailwind utilities;

/* global variables */
@layer base {
  :root {
    --background: 254, 254, 254;
    --background-secondary: 243, 242, 247;

    --foreground: 0, 0, 0;
    --foreground-muted: 217, 217, 227;

    --secondary: 234, 100, 43;

    --pie-chart-teal: 133, 237, 218;
    --pie-chart-pastel-blue: 199, 206, 255;
    --pie-chart-pink: 251, 224, 213;
  }
}

/* global preset */
@layer base {
  /* body {
    @apply bg-black;
  } */
}
